@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.search {
  background: #d9d9d9;
}

#recherche {
  background: #d9d9d9;
}

#explore {
  background: #f3f3f3;
}

.new {
  color: #2c9c81;
}

#restau {
  background: #f8f8f8;
}

.menu {
  background: #d9d9d9;
}

.btn__choose {
  background: #f3f3f3;
}
.btn__choose:hover {
  background-color: #e4d5f6;
}

footer {
  background: #333333;
}

.btn {
  cursor: pointer;
}
.btn__resa {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.btn__resa:hover {
  opacity: 0.8;
  box-shadow: 10px 10px 20px gray;
}
.btn__choose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0px 2px 5px gray;
  font-weight: bold;
}
.btn__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 7%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.btn__logo {
  position: absolute;
  left: 20%;
}
.btn__choose:hover .btn__logo {
  color: #9356DC;
}
.btn__like {
  font-size: 1.5em;
  padding-top: 10px;
  padding-right: 30px;
}
.btn__like .heart-empty {
  margin: 15px;
  position: relative;
  font-size: 30px;
  z-index: 1;
}
.btn__like .heart-color {
  margin: 15px;
  position: absolute;
  font-size: 30px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  z-index: -1;
  transform: scale(1);
  transform-origin: 50% 100%;
}
@keyframes color-like {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(0.35, 0.25);
  }
  50% {
    transform: scale(0.55, 0.45);
  }
  75% {
    transform: scale(0.8, 0.65);
  }
  100% {
    transform: scale(1, 1);
  }
}
.btn__like:hover {
  cursor: pointer;
}
.btn__like:hover .heart-empty {
  opacity: 1;
  z-index: 0;
}
.btn__like:hover .heart-color {
  opacity: 1;
  z-index: 1;
  animation: color-like 2s both linear;
}
.btn__order {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 30px auto 0px;
}
.btn__order:hover {
  opacity: 0.8;
  box-shadow: 10px 10px 20px gray;
}
.btn__order > h3 {
  margin-bottom: 0;
}

/* Media queries */
/* Additionnelle*/
@media all and (max-width: 340px) {
  .btn__logo {
    left: 17%;
  }
  .btn__number {
    left: 6%;
  }
}
/* Tablette */
@media all and (min-width: 768px) and (max-width: 991px) {
  .btn__number {
    left: 8%;
  }
}
/* Desktop*/
@media all and (min-width: 992px) {
  .btn__number {
    left: 8.7%;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.loader-logo {
  font-size: 4em;
  color: #99E2D0;
  animation: loader 3s both;
}

@keyframes loader {
  30% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  80% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header,
.main,
.footer {
  animation: hidden 4s both;
}

@keyframes hidden {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* H1 et Explorer nos Restaurants  */
h1 {
  margin: 20px 0;
  width: 55%;
  text-align: center;
}

#explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#explore > p {
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  color: grey;
}

/* Section Fonctionnement */
h2 {
  padding: 50px 0 30px 20px;
  font-size: 1.6em;
  font-weight: bold;
}

/* Section Restau */
.new {
  background-color: #99E2D0;
  font-weight: bold;
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4%;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

#restau {
  width: 100%;
}

.restau-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
.restau-card > img {
  width: 100%;
  height: 200px;
  margin: auto;
  object-fit: cover;
}
.restau__below {
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restau__txt {
  padding-left: 20px;
}
.restau__txt > p {
  font-size: 1.3em;
}
.restau-prev {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

a {
  color: black;
  text-decoration: none;
}

/* Photos pages menu */
.menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  padding-bottom: 30px;
}
.menu__prev {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}
.menu-heading > h1 {
  font-family: "Shrikhand", cursive;
  padding-left: 5%;
  font-size: 1.4em;
}
.menu-heading > .title {
  padding-left: 3%;
}
.menu__like {
  margin-left: 25%;
  font-size: 1.3em;
}
.menu__card {
  background-color: white;
  width: 90%;
  height: 60px;
  margin: 0 auto 20px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
  position: relative;
}
.menu__card > h3 {
  font-size: 1em;
}
.menu__txt {
  display: flex;
  justify-content: space-between;
}
.menu__txt > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1em;
}
.menu__txt > span {
  font-size: 1.1em;
}
.menu__price {
  margin-right: 5%;
  transition: transform 500ms linear;
}
.menu__save {
  background-color: #99E2D0;
  color: white;
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(0);
  transform-origin: 100% 0%;
  transition: transform 500ms linear;
}
.menu__save > i {
  transition: transform 500ms linear;
}

.entree > h2,
.dish > h2,
.dessert > h2 {
  width: 45px;
  font-size: 1em;
  padding-bottom: 5px;
  padding-left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  border-bottom: 3px #99E2D0 solid;
}

/*Animation Menu */
/* Apparition Menu */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.entree,
.entree1 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.entree2 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

.entree3 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}

.entree4 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}

.dish,
.dish1 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
}

.dish2 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 3500ms;
}

.dish3 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 4000ms;
}

.dessert,
.dessert1 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 5500ms;
}

.dessert2 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 6000ms;
}

.dessert3 {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 6500ms;
}

/* Apparation coche des plats */
.menu__card:hover {
  cursor: pointer;
}
.menu__card:hover .menu__price {
  transform: translateX(-60px);
}
.menu__card:hover .menu__save {
  transform: scaleX(1);
}
.menu__card:hover .menu__save > i {
  transform: rotate(360deg);
}
.menu__card:hover .menu__txt > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  font-size: 1.1em;
}

/* Media queries */
/* Tablette */
@media all and (min-width: 575px) and (max-width: 849px) {
  @keyframes animation-price {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-90px);
    }
  }
  .menu-heading > h1 {
    font-size: 2em;
  }
  .menu__card:hover .menu__price {
    animation: animation-price 500ms linear both;
  }
}
/* Desktop*/
@media all and (min-width: 850px) and (max-width: 1619px) {
  @keyframes animation-price {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-160px);
    }
  }
  .menu-heading > h1 {
    font-size: 3.5em;
  }
  .menu__card:hover .menu__price {
    animation: animation-price 500ms linear both;
  }
}
/* Additionnelle*/
@media all and (min-width: 1620px) {
  @keyframes animation-price {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-190px);
    }
  }
  .menu-heading > h1 {
    font-size: 3.5em;
  }
  .menu__card:hover .menu__price {
    animation: animation-price 500ms linear both;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 1px #888;
}

#recherche {
  text-align: center;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 1.1em;
}

/* Header Index */
header {
  display: flex;
  justify-content: center;
}

#logo {
  width: 40%;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Pages Menu Header */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__arrow {
  padding-left: 20px;
}
.header__logo {
  width: 40%;
  margin: 20px auto 10px;
}

footer {
  color: white;
  padding-left: 30px;
  padding-bottom: 30px;
}
footer > h2 {
  font-family: "Shrikhand", cursive;
  padding: 30px 0 20px 0px;
  font-size: 1.2em;
}
footer > p {
  padding-bottom: 10px;
}
footer > a {
  font-size: 1em;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.footer__logo {
  margin-right: 10px;
}
.footer__hand {
  font-size: 0.7em;
}

.propose {
  display: flex;
}
.propose > h3 {
  font-size: 1em;
}

.become {
  display: flex;
}
.become > h3 {
  font-size: 1em;
}

/*# sourceMappingURL=styles.css.map */
