* {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

/* H1 et Explorer nos Restaurants  */
h1 {
    margin: 20px 0;
    width: 55%;
    text-align: center;
}

#explore {
    @include flex-center;
    flex-direction: column;

    &>p {
        width: 80%;
        text-align: center;
        font-size: 1.2em;
        color: grey;
    }
}

/* Section Fonctionnement */
h2 {
    padding: 50px 0 30px 20px;
    font-size: 1.6em;
    font-weight: bold;
}

/* Section Restau */
.new {
    background-color: $color-tertiary;
    font-weight: bold;
    width: 90px;
    height: 35px;
    @include flex-center;
    position: absolute;
    right: 4%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

#restau {
    width: 100%;
}

.restau {
    &-card1 {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        position: relative;
        padding-bottom: 30px;
    }

    &-card>img {
        width: 100%;
        height: 200px;
        margin: auto;
        object-fit: cover;
    }

    &__below {
        width: 100%;
        height: 80px;
        margin: auto;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
        background-color: white;
        @include border-bot-rad
    }

    &__txt {
        padding-left: 20px;
    }

    &__txt>p {
        font-size: 1.3em;
    }

    &-prev {
        @include border-top-rad
    }
}

h3 {
    margin-bottom: 10px;
    font-size: 1.3em;
}

a {
    color: black;
    text-decoration: none;
}

/* Photos pages menu */
.menu {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
    padding-bottom: 30px;

    &__prev {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &-heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
    }

    &-heading>h1 {
        font-family: $font-title;
        padding-left: 5%;
        font-size: 1.2em;
    }

    &-heading>.title {
        padding-left: 3%;
    }

    &__like {
        margin-left: 25%;
        font-size: 1.3em;
    }

    &__card {
        background-color: $color-text;
        width: calc(90%);
        height: 60px;
        margin: 0 auto 20px;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: $border-rad;
        box-shadow: 0px 0px 5px gray;
        position: relative;
    }

    &__card>h3 {
        font-size: 1.0em;
    }

    &__txt {
        display: flex;
        justify-content: space-between;
    }

    &__txt>p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.1em;
    }

    &__txt>span {
        font-size: 1.1em;
    }

    &__price {
        margin-right: 5%;
        transition: transform 500ms linear;
    }

    &__save {
        background-color: $color-tertiary;
        color: white;
        width: 15%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        @include flex-center;
        border-top-right-radius: $border-rad;
        border-bottom-right-radius: $border-rad;
        transform: scaleX(0);
        transform-origin: 100% 0%;
        transition: transform 500ms linear;
    }

    &__save>i {
        transition: transform 500ms linear;
    }
}

.entree>h2,
.dish>h2,
.dessert>h2 {
    width: 45px;
    font-size: 1.0em;
    padding-bottom: 5px;
    padding-left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 3px $color-tertiary solid;
}

/*Animation Menu */
/* Apparition Menu */

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.entree,
.entree1 {
    @include animation-menu;
    animation-delay: 500ms;
}

.entree2 {
    @include animation-menu;
    animation-delay: 1000ms;
}

.entree3 {
    @include animation-menu;
    animation-delay: 1500ms;
}

.entree4 {
    @include animation-menu;
    animation-delay: 2000ms;
}

.dish,
.dish1 {
    @include animation-menu;
    animation-delay: 3000ms;
}

.dish2 {
    @include animation-menu;
    animation-delay: 3500ms;
}

.dish3 {
    @include animation-menu;
    animation-delay: 4000ms;
}

.dessert,
.dessert1 {
    @include animation-menu;
    animation-delay: 5500ms;
}

.dessert2 {
    @include animation-menu;
    animation-delay: 6000ms;
}

.dessert3 {
    @include animation-menu;
    animation-delay: 6500ms;
}

/* Apparation coche des plats */
.menu {

    &__card:hover {
        cursor: pointer;

        .menu__price {
            transform: translateX(-60px);
        }

        .menu__save {
            transform: scaleX(1);
        }

        .menu__save>i {
            transform: rotate(360deg);
        }

        .menu__txt>p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 150px;
            font-size: 1.1em;
        }
    }
}

/* Media queries */
/* Tablette */
@media all and (min-width: 575px) and (max-width: 849px) {

    @keyframes animation-price {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-90px);
        }
    }

    .menu {
        &-heading>h1 {
            font-size: 2.0em;
        }

        &__card:hover {
            .menu__price {
                animation: animation-price 500ms linear both;
            }
        }
    }
}

/* Desktop*/
@media all and (min-width: 992px) {
    #fonc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu__card {
        width: 30%;
    }

    .entree__media,
    .dish__media,
    .dessert__media {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

/* Additionnelle*/
@media all and (max-width: 374px) {
    .menu {
        &-heading>h1 {
            font-size: 0.9em;
        }
    }

}

@media all and (min-width: 850px) and (max-width: 1619px) {
    @keyframes animation-price {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-60px);
        }
    }

    .menu {
        &-heading>h1 {
            font-size: 3.0em;
        }

        &__card:hover {
            .menu__price {
                animation: animation-price 500ms linear both;
            }
        }
    }
}

@media all and (min-width: 1620px) {
    @keyframes animation-price {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-80px);
        }
    }

    .menu {
        &-heading>h1 {
            font-size: 3.5em;
        }

        &__card:hover {
            .menu__price {
                animation: animation-price 500ms linear both;
            }
        }
    }
}