/* Header Index */

header {
    display: flex;
    justify-content: center;
}

#logo {
    width: 40%;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Pages Menu Header */

.header {
    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow {
        padding-left: 20px;

    }

    &__logo {
        width: 40%;
        margin: 20px auto 10px;

    }
}