$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-btn-primary: linear-gradient($color-secondary, $color-primary);
$color-grey: grey;
$color-black: black;
$color-text:white;
$font-text:'Roboto',
sans-serif;
$font-title: 'Shrikhand',
cursive;
$border-rad:20px;

/* $media-queries: (
    'tablet'  : "only screen (min-width: 768px) and (max-width: 991px)",
    'desktop' : "only screen (min-width: 991px)",
)*/